@import "./colorsandtypes";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend %body;
}
.textField {
  width: 320px;
  height: 44px;
  color: $darkShade25;
  border: 1px solid $darkShade25;
  border-radius: 4px;
}
.textField:hover,
:active,
:focus {
  border: 1px solid $darkShade50;
}
.subTextField {
  width: 267px;
  height: 44px;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  background: url(./arrowright.svg) no-repeat 95% center;
}
.like-button {
  width: 40px;
  height: 20px;
  border: 1px solid $darkShade25;
  border-radius: 10px;
  background: url(./likeheart.svg) no-repeat 10% center;
  transition: 0.7s;
  span {
    box-sizing: border-box;
    margin: 1.5em;
  }
}
.like-button-active {
  width: 40px;
  height: 20px;
  background: url(./likeheartact.svg) no-repeat 10% center;
  border-radius: 10px;
  color: #bc9cff;
  border: 1px solid #bc9cff;
  transition: 0.7s;
  span {
    margin: 1.5em;
  }
}
.dd-nav {
  @extend %h3;
  border: 1px solid $darkShade25;
  border-top: none;
  border-radius: 4px;
  width: 318px;
  transition: 0.5s all;
}
.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-item__name {
  padding: 13px 0px 7px 15px;
}
.dd-button {
  background-color: white;
  width: 320px;
  height: 44px;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: left;
  color: $darkShade75;
  background: url(./rectangle.svg) no-repeat 95% center;
}
.counter__button {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 22px;
  margin: 7px;
  width: 30px;
  height: 30px;
}

.star-rating-blank {
  fill: none;
  width: 24px;
  height: 24px;
}
.star-rating-filled {
  width: 24px;
  height: 24px;
}
.star-rating-filled path {
  d: path(
    "M10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25Z"
  );
}

.rating-container {
  display: flex;
}
.button_purple {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  border: none;
  width: 99px;
  height: 44px;
  color: white;
  @extend %h3;
}
.button_purple_faded {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.5;
  border-radius: 22px;
  border: none;
  width: 99px;
  height: 44px;
  color: white;
  @extend %h3;
}
.button_blank {
  background: white;
  width: 99px;
  height: 44px;
  @extend %h3;
  color: #bc9cff;
  border: 2px solid #bc9cff;
  border-radius: 22px;
}
.button_blank_faded {
  background: white;
  width: 99px;
  height: 44px;
  @extend %h3;
  color: #bc9cff;
  border: 2px solid #bc9cff;
  opacity: 0.5;
  border-radius: 22px;
}
.button_wide {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  width: 320px;
  height: 44px;
  color: white;
  @extend %h3;
  border: none;
}
.button_borderless {
  width: 61px;
  height: 15px;
  background-color: white;
  color: #bc9cff;
  border: none;
  @extend %h3;
}
.button_borderless_faded {
  width: 61px;
  height: 15px;
  background-color: white;
  color: rgba(31, 32, 65, 0.5);

  border: none;
  @extend %h3;
}
